* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 12.5% 12.5% 37.5% 37.5%;
  border: 2px solid black;
  height: 100%;
}

.sidebar{ 
  grid-column: span 1;
  grid-row: 1/5 ;
  background-color: #022c22;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
}

.option-card{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.search-and-icons{
  grid-column: span 2;
  grid-row: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #10b981;
}

.search-and-icons input {
  flex: 1;
  border-radius: 20px;
  height: 40px;
  padding-left: 20px;
  font-size: large;
  background-color: #a7f3d0;
  border: 0;
}

.search-and-icons input:focus {
  outline: none;
}

.profile-pic {
  border-radius: 20px;
}

.profile-and-buttons {
  grid-column: span 2;
  grid-row: span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #10b981;
}

.profile-and-buttons .profile {
  display: flex;
  gap: 40px;
}

.control-buttons button{
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-right: 20px;
  background-color: #a7f3d0;
  font-size: large;
}

.projects {
  grid-row: span 2;
  grid-column: span 1;
  border: 2px solid orangered;
}

.messages {
  grid-row: span 1;
  grid-column: span 1;
  border: 2px solid blue;
}

.news {
  grid-row: span 1;
  grid-column: span 1;
  border: 2px border black;
}